---
import '../styles/global.css';

const title = 'The Mag';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<style>
			h1 {
			  color: rgb(0, 128, 107);
			  font-size: 4rem;
			  font-family: 'teko', sans-serif;

			}
		  </style>


	</head>





	<body>
	<!-- navigation links -->
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<a href="/portfolio/">Portfolio</a>
		
		<h1>{title}</h1>
		<p>Welcome to my website!</p>

	</body>
</html>
