---
import '../styles/global.css';

import Navigation from '../components/Navigation.astro';

import Header from '../components/Header.astro';

import Footer from '../components/Footer.astro';

const title = 'The Mag';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<style>
			h1 {
			  color: rgb(0, 128, 107);
			  font-size: 4rem;
			  font-family: 'teko', sans-serif;

			}
		  </style>


	</head>





	<body>
	<!-- navigation links -->
		<Navigation />
		<Header />
		
		<h1>{title}</h1>
		<p>Welcome to my website!</p>

	<Footer />	
	</body>
</html>
