---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>A.Magallon Blog</title>

		<style>
			h1 {
			  color: rgb(0, 128, 107);
			  font-size: 4rem;
			}
		  </style>


	</head>





	<body>
	<!-- navigation links -->
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		
		<h1>My Website</h1>
		<p>Welcome to my website!</p>

	</body>
</html>
